<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>
</head>
<body>
    
    <h1>Proveedores</h1>
    <table border="2">
        <thead>
            <tr>
                <th>Nombre Proveedor</th>
                <th>Dirección</th>
                <th>Correo</th>
                <th>Numero Celular</th>
                <th>RTN / IDENTIDAD</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pr : ${listProveedores}">
                <td th:text="${pr.nombre}"></td>
                <td th:text="${pr.direccion}"></td>
                <td th:text="${pr.email}"></td>
                <td th:text="${pr.numero}"></td>
                <td th:text="${pr.rtn_identidad}"></td>

            </tr>
        </tbody>
    </table>

</body>
</html>